<div>
    <div class="conteiner">
        <div class="logo">
            <img src="../../../assets/ap-logo.png" id="logoAP">
        </div>
        <div class="redes">
            <div>
                <a href=""><img src="../../../assets/link-icon.png" id="LinkedIn"></a>
                <a href=""><img src="../../../assets/twitter-logo-240.png" id="Twitter"></a>
                <a href=""><img src="../../../assets/ig-icon.png" id="Instagram"></a>
                <a href=""><img src="../../../assets/github-logo-240.png" id="GitHub" ></a>
                <a href=""><img src="../../../assets/FB-icon.png" id="Facebook"></a>
                <button type="button" class="btn btn-outline-light">INGRESO</button>
            </div>
        </div>
    </div>
</div>

